.brandpush-logo-container-item {
  height: 100px !important;
  position: relative !important;
}
.brandpush-vertical-center {
  margin: 0 !important;
  position: relative !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  text-align: center !important;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transform: translate(13%, -50%) !important;
}

@media screen and (orientation: portrait) {
  .brandpush-vertical-center {
    column-gap: 20px;
    transform: translateX(8%) !important;
  }
}

.brandpush-vertical-center img.brandpush-news-logo {
  width: 100% !important;
  max-width: 100px !important;
  height: auto !important;
  margin: 7px 10px !important;
}
@media screen and (min-width: 585px) {
  .brandpush-leaf {
    opacity: 0.2 !important ;
  }
  .brandpush-logo-container {
    padding: 0 20px !important;
  }
}
@media screen and (max-width: 584px) {
  .brandpush-news-logo {
    max-width: 70px !important ;
  }
  .brandpush-title {
    font-size: 15px !important;
    top: -5px !important;
    letter-spacing: 6px !important;
  }
}
@media screen and (max-width: 340px) {
  .brandpush-title-hr {
    display: none !important ;
  }
  .brandpush-title {
    font-size: 14px !important;
    padding: 0 !important ;
  }
  .brandpush-footer {
    font-size: 11px !important ;
    margin: 20px 0 25px 0 !important ;
    letter-spacing: 2px !important ;
  }
  .brandpush-news-logo {
    max-width: 50px !important ;
  }
}
#brandpush-trust-badge {
  box-shadow: 0 18px 50px rgb(0 0 0 / 7%) !important;
  -webkit-transition: box-shadow 0.3s !important;
}
